<section class="flex flex-col-reverse md:flex-row gap-10 justify-center">
    <div class="[&>p]:mb-5 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty">
        <p>
            ¡Hola! Me llamo Diego, un ingeniero de software al que le gusta leer y hacer ejercicio. 
            La primera vez que programé fue a los 10 años, usando herramientas de programación por bloques. 
            Ahora estoy involucrado en el desarrollo de <strong>aplicaciones y 
            sitios web con alcance global</strong>, con enfoque en UX. 
        </p>
        
        <p>
            Entre mis logros más destacados se encuentra la creación del <strong>principal E-commerce de antigüedades y decoración en Chile</strong>,
            logrando aumentar las ventas y el alcance de mi cliente.  
        </p>
        
        <p>
            Además de mi experiencia técnica, <strong>valoro la importancia de establecer relaciones sólidas dentro del equipo.</strong> 
            Conozco el impacto que estas conexiones tienen en la creación de productos de calidad. 
        </p>
    </div>
    <img src="../projects/minidudev.png" class="object-cover rounded-full size-64 self-center md:size-70" />
</section>