---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
    date: "Actualmente...",
    title: "Desarrollador Full Stack",
    company: "Letelier",
    description:
      "",
    link: "https://letelier.art",
  },
  {
    date: "Septiembre 2022",
    title: "Principal Frontend Engineer",
    company: "Adevinta Spain",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experience} />
            </li>
        ))
    }
</ol>

