---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
    date: "Actualmente...",
    title: "Desarrollador Full Stack ― Letelier",
    company: "Letelier",
    description:
      "Lidero el area de tecnología de una de las mayores tiendas de antigüedades y decoración en Chile. Responsable de la campaña de digitalización de la compañía creando el E-commerce que actualmente utilizan, poniendo principal foco en la optimización SEO y UX/UI. Implantación de medidas de optimización continua, logrando una mejora del 30% en velocidad",
    link: "https://letelier.art",
  },
  {
    date: "Enero 2021",
    title: "Frontend Developer ― 100Devs",
    company: "100Devs",
    description:
      "Participé en la creación de productos web en colaboración continua con equipos, principalmente basado en la integracion de APIs y desarrollo con React",
  },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experience} />
            </li>
        ))
    }
</ol>

